pipeline/pl_copy_data_azure_sql.json
{
	"name": "pl_copy_data_azure_sql",
	"properties": {
		"activities": [
			{
				"name": "copy_data_employee_table",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_azuresql_source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_azuresql_sink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "copy_data_employee_table",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-11.northcentralus.logic.azure.com:443/workflows/067266c491714b8ca0361922340b3b65/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=2c112QeooIpB7gsBtmILczhILUSu0CRU0qqkREcsmD0",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\n  \"PipelineName\" : \"@{pipeline().Pipeline}\",\n  \"ADFName\" : \"@{pipeline().DataFactory}\",\n  \"ErrorMessage\" : \"@{activity('copy_data_employee_table').error.message}\",\n  \"RunId\" : \"@{pipeline().RunId}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Fail1",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": {
						"value": "@activity('copy_data_employee_table').error.message",
						"type": "Expression"
					},
					"errorCode": "2200"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-11-25T14:32:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}